ELEVENLABS_API_KEY=PUT_YOUR_KEY_HERE
ELEVENLABS_MCP_BASE_PATH=~/Desktop #optional base path for output files

# S3 Configuration
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=
S3_CDN_URL=
S3_BUCKET_NAME=
S3_PREFIX=
S3_REGION=